@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Oswald", serif;
    font-weight: 300;
    background-color: #00001b;
    color: white;
    text-align: center;
    padding: 0 20% 0 20%;
    font-size: 20px;
}

p{
    font-size: 25px;
}

img{
    width: 80%;
    border-radius: 5%;
    margin: 15px 0;
}

.icon{
    transition: 0.4s;
    width: 20%;
}

.icon:hover{
    transition: 0.5s;
    transform:scale(1.2);
    margin-top: 50px;
    margin-bottom: 45px;
}