@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter";
    background: url("../img/bg_dark1.jpg") no-repeat top center/cover;
    height: 100vh;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

div{
    text-align: center;
}

#container{
    width: 100%;
}

#switch{
    margin: 20px auto;
    justify-items: center;
    width: 100px;
    position: relative;
}

#switch button{
    background-image: url("../img/moon-outline.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    border: none;
    z-index: 1;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    animation: slide-back 0.2s;
}

#switch button{
    transition: 0.1s;
    outline: 0px solid gray;
}

#switch button:hover{
    transition: 0.1s;
    outline: 8px solid gray;
}

#switch span{
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 999999px;
    border: 1px solid rgba(180, 180, 180, 0.692);
    background-color: rgba(66, 66, 66, 0.267);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttons ul{
    list-style-type: none;
    justify-items: center;
    width: 100%;
}

#buttons a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons li{
    transition: 0.2s;
    background-color: rgba(54, 54, 54, 0.114);
    padding-top: 12px;
    width: 500px;
    margin: 10px 0;
    height: 50px;
    border: 2px gray solid;
    border-radius: 8px;
}

#buttons li:hover{
    transition: 0.2s;
    background-color: rgba(15, 15, 15, 0.114);

}

#profile{
    margin-top: 70px;
}

#profile-picture{
    border-radius: 100%;
    border: 3px rgb(255, 115, 0) solid;
    margin-bottom: 10px;
    width: 100px;
}

#social-medias{
    margin-top: 40px;
}

#social-medias ion-icon{
    transition: 0.1s;
    margin: 0 20px;
    font-size: 30px;
}

#social-medias ion-icon:hover{
    transition: 0.1s;
    color: rgba(255, 255, 255, 0.493);
}

.light #social-medias ion-icon{
    transition: 0.1s;
}

.light #social-medias ion-icon:hover{
    transition: 0.1s;
    color: rgba(0, 0, 0, 0.582);
}

.light #buttons li{
    transition: 0.2s;
    background-color: rgba(54, 54, 54, 0.114);
}

.light #buttons li:hover{
    transition: 0.2s;
    background-color: rgba(15, 15, 15, 0.14);
}

.light body{
    color: black;
    background: url("../img/bg_light1.jpg") no-repeat top center/cover;
}

.light a{
    color: black;
}

.light #switch button{
    animation: slide-in 0.2s forwards;
    background: white url("../img/sunny-outline.svg") no-repeat center;
}

@media(max-width:700px){
    body{
            background: url("../img/bg_dark2.jpg") no-repeat top center/cover;
    }

    .light body{
        background: url("../img/bg_light2.jpg") no-repeat top center/cover;
    }

    #buttons a{
        width: 70%;
        min-width: 300px;
    }
}

@keyframes slide-in{
    from{
        left: 0;
    }
    to{
        left: 60%;
    }
}

@keyframes slide-back{
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}