*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

div{
    display: flex;
    margin: 10px 0;
    height: 30px;
}

#Cube{
    width: 150px;
    height: 150px;
    background-color: black;
    margin-left: 140px;
}

p{
    width: 125px;
}

input{
    margin-right: 10px;
}