body{
    background-color: rgb(189, 189, 189);
    text-align: center;
}

img{
    width: 25%;
}

img:hover{
    cursor:pointer;
}

img#dado1{
    float: left;
    margin: 100px 0 0 200px;
}

img#dado2{
    float: right;
    margin: 100px 200px 0 0;
}

button{
    width: 200px;
    height: 50px;
    font-size: 20px;
}